<html>
<head>
<title>Reading List</title>
</head>
<body>
      <h2>Lista de files</h2>
      <div>
      		<dl>
                  <dt class="bookHeadline">
  						<a th:href="${parentDir}">Back...</a>
                  </dt>
            </dl>
      </div>
      <div th:unless="${#lists.isEmpty(dirs)}">
      		<dl>
                  <dt class="bookHeadline">
  						<a th:href="${parentDir}">Back...</a>
                  </dt>
            </dl>
            <dl th:each="dir : ${dirs}">
                  <dt class="bookHeadline">
                        <span th:text="${dir.nome}"> DIR_ </span>
  						<a th:href="${dir.link}">Visit</a>
                  </dt>
            </dl>
      </div>
      <div th:unless="${#lists.isEmpty(files)}">
            <dl th:each="file : ${files}">
                  <dt class="bookHeadline">
                        <span th:text="${file.nome}"> FILE_ </span>
  						<a th:href="${file.link}">Download</a>
                  </dt>
            </dl>
      </div>
      <hr />
</body>
</html>